.friends__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  height: 200px;
}
.friendsitem {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #000000;
}
